<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="rcpproject.source">
         <source
         	class = "rcpproject.xml.source.XMLSource"
         	id = "rcpproject.xml.source"
         	name = "XML Source">
         </source>
   </extension>
   

</plugin>
